/*
Theme Name: AGENT Child Theme
Theme URI: http://design-plus1.com/tcd-w/
Description: WordPressテーマ「AGENT」 child theme
Author: Freemight
Author URI: http://freemight.com/
Template: agent_tcd033
Version: 1
*/
@import url("../agent_tcd033/style.css");



/* Base ----------------------------------------------------------- */


/* Layout ----------------------------------------------------------- */


/* Module ----------------------------------------------------------- */

a.link-button-azure_top {
	background-color: #001c58 !important;
}
a.link-button-azure_top .btn_lavel {
	margin-right: 0px
}
.link-button-azure_top .arrow_ico1 {
	display: none;
}


#section-two {
	background: url('../../uploads/2016/07/bg-2.jpg');
}
h3.section-two-h3 {
	font-size: 60px;
}
#section-two .desc1 {
	font-size: 16px;
	line-height: 24px;
}

.separator .liner {
	font-weight: bold;
}
.separator .lead {
	font-size: 25px;
}

.content-card-list .section3-h5 {
	/*font-size: 30px;*/
	font-size: 27px;
}
.content-card-list .desc2 {
	height: 200px;
}
.content-card-list .circleimages {
	text-align: center;
}
.content-card-list .circleimages img {
	max-width: 183px;
	margin: 0 auto;
}


div.section h2.recruit-splash-h2 {
	font-size: 60px;
}

.recruit-splash .link-button-azure_btm {
	background-color: #001c58 !important;
	font-size: 24px;
}


.resmigrate-card-item {
	height: 470px;
}
.resmigrate-card-item > img {
	margin: 0 auto;
	display: block;
}
.resmigrate-card-item .headline {
	font-weight: bold;
	font-size: 24px;
}
.resmigrate-card-item .description {}

.concernlive-list {}
.concernlive-list li {
	margin-bottom: 30px;
}
.concernlive-list li:last-child {
	margin-bottom: 0px;	
}
.concernlive-list .concernlive-list-h {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
}


.visatype-card-item {
	height: 532px;
}
.visatype-card-item > img {
	margin: 0 auto;
	display: block;
}
.visatype-card-item .headline {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 34px;
}
.visatype-card-item .description {
	font-size: 16px;
}


.visa-list {}
.visa-list .visa-list-h {
	font-weight: bold;
}


.plan-card-item {
	margin-bottom: 20px;
}
.plan-card-item > img {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.plan-card-item .headline {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}
.plan-card-item .description {}
.plan-card-item .anc {
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: white;
	background: #001c58;
	padding: 10px;
}


.flow-list {}
.flow-list ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.flow-list ul li {
	background: #e5e5e5;
	border: 1px solid #bfbfbf;
	padding: 25px 16px;
	margin-bottom: 50px;
	position: relative;
}
.flow-list ul li:last-child {
	margin-bottom: 0px;	
}
.flow-list ul li .flow-list-h {
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
}
.flow-list ul li p {}
.flow-list ul li p:first-child {

}
.flow-list ul li p:last-child {
	margin-bottom: 0px;
}
.flow-list ul li p .note {
	font-weight: bold;
	margin: 10px 0;
	display: inline-block;
}
.flow-list ul li .arrow {
	position: absolute;
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	left: 50%;
	bottom: -40px;
	-ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.flow-list ul li .arrow::before {
	content: "";
	display: block;
	position: absolute;
	background: black;
	width: 1px;
	height: 15px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: -2px;
	left: -5px;
}
.flow-list ul li .arrow::after {
	content: "";
	display: block;
	position: absolute;
	background: black;
	width: 1px;
	height: 15px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: -2px;
	left: 6px;
}


#footer-menu.navbar-nav {
	width: initial;
	float: right;
}

#footer-menu.navbar-nav > li > a {
	padding-left: 5px;
	padding-right: 5px;
}

.nav-footer-other {
	text-align: left;
}
.nav-footer-other a {
	padding-left: 5px;
	padding-right: 5px;	
}
.nav-footer-other a img {
	margin-top: 20px;
}



.button {
	background: #001c58;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 25px;
	display: inline-block;
}
.button:hover {
	color: white;
}
.button.button-w280 {
	width: 100%;
	max-width: 280px
}
.button.button-w460 {
	width: 100%;
	max-width: 460px
}


.renocase-list-item {
	margin-bottom: 20px;
}


.tableadd {
	width: 100%;
}
.tableadd tr {
	border-top: 1px solid #c9c9c9;
}
.tableadd tr:last-child {
	border-bottom: 1px solid #c9c9c9;	
}
.tableadd tr td {
	padding: 10px;
}
.tableadd tr td.lbl {
	width: 76px;
	background: #dcdcdc;
}

.gmapadd {
	width: 100%;
	height: 420px;
}


div.wpcf7 {
	background: white;
	border: 0px;
}
.wpcf7 .wpcf7-form {
	margin: 0px;
}
.cf7-form-inner {}
.cf7-form-inner table {
	width: 100%;
	margin-bottom: 20px;
}
.cf7-form-inner table tr {}
.cf7-form-inner table tr th {
	padding: 8px;
	border: 1px solid #ddd;
}
.cf7-form-inner table tr th .cf7-form-inner-h {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
.cf7-form-inner table tr td {
	padding: 10px 16px;
	border: 1px solid #ddd;
}
.cf7-form-inner table tr td p {
	padding: 0px;
	margin: 0px;
}
.cf7-form-inner table tr td.lab {
	color: #333333;
	width: 30%;
	text-align: center;
}
.cf7-form-inner table tr td.lab .important {
	color: firebrick;
}
.cf7-form-inner table tr td.lab p {
	font-size: 14px;
}
.cf7-form-inner table tr td.input {
	width: 70%;
}
.cf7-form-inner table tr td.input p {}
.cf7-form-inner .cf7-form-inner-submitp .wpcf7-submit {
	background: #EC7289;
	border-radius: 3px;
	font-weight: bold;
	font-size: 22px;
	display: block;
	height: 67px;
	width: 300px;
	margin: 0 auto;
}


.wpcf7 .wpcf7-mail-sent-ok {
	display: none !important;
}


.breadcrumbs {
	padding-top: 10px;
}


p#logo {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 36px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	display: table-cell;
	vertical-align: middle;	
}
p#logo a img {
	max-width: inherit;
}


/* State ----------------------------------------------------------- */


/* Helpers ----------------------------------------------------------- */
.color-gray {
	color: gray;
} 
.decoration-underline {
	text-decoration: underline;
}
.border-gray {
	border: 1px solid #bfbfbf;
}
.p10 {
	padding: 10px !important;
}
.p20 {
	padding: 20px !important;
}
.border-bottom {
	border-bottom: 1px solid black;
}
.border-sm {
	border-width: 2px;
}
.bg-e5e5e5 {
	background-color: #e5e5e5;
}
.li-bullet-none {
	list-style: none;
}
.weight-bold {
	font-weight: bold;
}

.f10 {
	font-size: 10px;
}
.f14 {
	font-size: 14px;
}
.f17 {
	font-size: 17px;
}
.f20 {
	font-size: 20px;
}
.f24 {
	font-size: 24px;
}
.f30 {
	font-size: 30px;
}
.f32 {
	font-size: 32px;
}
.f47 {
	font-size: 47px;
}
.lh220pr {
	line-height: 220%
}
.f20 {
	font-size: 20px;
}
.pt30 {
	padding-top: 30px !important;
}
.mb200{
	margin-bottom:200px !important
}
.cwhite {
	color: white;
}

/* Media ----------------------------------------------------------- */

@media screen and (max-width:1199px ) {
	.nav-footer-other {
		text-align: center;
	}	
}

@media screen and (max-width:768px ) {
	.resmigrate-card-item {
		height: auto;
		margin-bottom: 20px;
	}
	.visatype-card-item {
		height: auto;	
		margin-bottom: 20px;
	}

	.content-card-list .section3-h5 {
		margin: 0px 0 20px;
	}

	.content-card-list .desc2 {
		height: auto;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:668px ) { 
	.row h1.headline {
		font-size: 30px !important;
	}
}